.db_header{
  margin-bottom: 40px;
}

@media (max-width: 767px) {
  .nav-wrap {
    margin-top: 130px;
  }
}
@media(min-width: 768px){
  .nav-wrap {
    margin-top: 50px;
  }
}

.padding-left-zero{
  padding-left: 0;
}

.nav-wrap {
  background: #f0f3f5;
  padding: 10px 0 5px;
  border-bottom: 1px solid #e5ebe4;
  .nav-wrap-head {
    .nav-wrap-logo {
      background: url(../../../assets/images/lg_movie_a12_2.png) no-repeat 0 12px;
      height: 56px;
      width: 145px;
      margin: 0 13px 0 0;
      float: left;
      line-height: 100em;
      a{
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    .nav-wrap-search {
      padding: 10px 0 15px 0;
      width: 40%;
    }
  }
}

.nav-second{
  background: #f0f3f5;
  .nav-inline {
    padding-left: 0;
    list-style: none;
    margin: 9px 0;
    li {
      display: inline-block;
      padding-right: 10px;
      padding-left: 10px;
    }
    li:first-child{
      padding-left: 0;
    }
  }
}

@mixin bg-pic($w,$h,$url){
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../../images/slide_swithc_2.png) no-repeat;
}

.ui-slide-control {
  float: right;
  margin: 5px 0 0 15px;
  .prev-btn a{
    @include bg-pic(18px, 18px, '../../images/slide_swithc_2.png');
    background-position: 0 0;
    margin-right: 5px;
  }
  .next_btn a{
    @include bg-pic(18px, 18px, '../../images/slide_swithc_2.png');
    background-position: -18px 0;
    margin-right: 5px;
  }
}

.slide-tip {
  float: right;
  line-height: 30px;
  color: #666;
}
.screening-hd h2 {
  font: 15px Arial, Helvetica, sans-serif;
  margin: 0 0 18px 0;
  line-height: 150%;
  color: #111;
  padding-bottom: 10px;
  border-bottom: 1px solid #eaeaea;
  span{
    margin-left: 15px;
    font-size: 12px;
  }
}

